/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #777777;
  resize: horizontal;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #535353;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}